<div *ngIf="data" class="modal fade show"  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        {{data.title}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <a class="btn btn-primary" href="{{data.link}}" target="_blank">Go to question</a>
      </div>
    </div>
  </div>
</div>
