<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Creation Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index" (click)="handleRowClick(item)" style="cursor: pointer;">
      <th scope="row">{{i}}</th>
      <td>{{item.owner.display_name}}</td>
      <td>{{item.title}}</td>
      <td>{{item.creation_date + '000' | date}}</td>
    </tr>
  </tbody>
</table>
